@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply overflow-x-hidden;
  }

  html {
    @apply font-poppins;
  }
}

@font-face {
  font-family: "Poppins";
  src: url("./Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
